.main {
  /* border-style: solid; */
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 2rem;
  justify-items: center;
}
.nav ul {
  /* border-style: solid; */
  width: 150px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  /* border-style: solid; */
  list-style-type: none;
  margin: 2px;
}
.section {
  display: grid;
  /* border-style: solid; */
  justify-items: center;
}
.image {
  width: 12em;
}
.gray-text {
  color: #888;
}
